@font-face {
  font-family: "iconfont"; /* Project id 4422611 */
  src: url('iconfont.woff2?t=1709879604785') format('woff2'),
       url('iconfont.woff?t=1709879604785') format('woff'),
       url('iconfont.ttf?t=1709879604785') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankai3:before {
  content: "\e60e";
}

.icon-queren:before {
  content: "\e633";
}

.icon-markdown:before {
  content: "\e665";
}

.icon-tijiaoqueren:before {
  content: "\e627";
}

.icon-sousuo:before {
  content: "\e619";
}

.icon-wenjianjia:before {
  content: "\e63f";
}

.icon-shezhi:before {
  content: "\e7b1";
}

.icon-shouqi:before {
  content: "\e629";
}

.icon-tuichu:before {
  content: "\e645";
}

.icon-zhankai1:before {
  content: "\e617";
}

.icon-dinglan:before {
  content: "\e71d";
}

.icon-dinglan1:before {
  content: "\e865";
}

.icon-buju:before {
  content: "\ee15";
}

.icon-zhankai2:before {
  content: "\e62f";
}

.icon-minglinghang:before {
  content: "\e607";
}

.icon-guanbi:before {
  content: "\e661";
}

.icon-zhankai:before {
  content: "\e613";
}

.icon-jiedian:before {
  content: "\e600";
}

.icon-qita:before {
  content: "\e6d5";
}

.icon-siweidaotu:before {
  content: "\e663";
}

.icon-jiedian2:before {
  content: "\e606";
}

.icon-siweidaotu1:before {
  content: "\e67c";
}

.icon-yuyin:before {
  content: "\e61c";
}

.icon-daima:before {
  content: "\e61e";
}

.icon-fenzhi:before {
  content: "\e61f";
}

.icon-fenjifenlei:before {
  content: "\e620";
}

.icon-jia:before {
  content: "\e621";
}

.icon-tianjia:before {
  content: "\e657";
}

